// ==========
//
// Settings
//
// ==========


// Color
// =======

// Brand
$highlight:   #0074D9;

// Grayscale
$black:       #111;
$gray-dark:   #555;
$gray:        #aaa;
$gray-light:  #ddd; 
$white:       #fff;


// Type
// ======

// Knife
$body-font-size:    16px;
$body-line-height:  $perfect-fifth;
$scale-factor:      $minor-third;
$ie8compatability:  true;
$outputrems:        true;

// Fonts
$sans:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$serif: Georgia, Times, "Times New Roman", serif;