/* 
 *  Typography
 */

html{ @include khtml(); }
body{ 
  @include kbody();
  font-family: $sans;
}

%headings{
  font-family: $sans;
}

h1{
  @extend %headings;
  @include ktype(6,1,1);
}
h2{
  @extend %headings;
  @include ktype(5,1,1);
}
h3{
  @extend %headings;
  @include ktype(4,1,1);
}
h4{
  @extend %headings;
  @include ktype(3,1,1);
}
h5{
  @extend %headings;
  @include ktype(2,1,1);
}
h6{
  @extend %headings;
  @include ktype(1,1,1);
}

p, ol, ul, li{
  @include ktype(1,1,1);
}
ol, ul{
  padding-left: kunit(1);
  ol, ul{
    @include ktype(1,0,0);
  }
}
li{
  @include ktype(1,0,0);
}